<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1571.vb_423c255d6d9">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4285.v8df38f05c3c5">
    <script>pipeline {
    agent any

    stages {
        stage(&apos;Checkout&apos;) {
            steps {
                // Ganti dengan URL Repo GitHub lo yang tadi
                git &apos;https://github.com/bym-1091/latihan-devops.git&apos;
            }
        }
        
        stage(&apos;SonarQube Scan&apos;) {
            steps {
                script {
                    // Kita jalanin perintah scanner yang lo coba tadi lewat docker
                    sh &quot;&quot;&quot;
                    docker run --rm --network=host \
                    -v &quot;\$(pwd):/usr/src&quot; \
                    sonarsource/sonar-scanner-cli \
                    -Dsonar.projectKey=test \
                    -Dsonar.sources=. \
                    -Dsonar.host.url=http://localhost:9000 \
                    -Dsonar.token=sqp_d884963ebfd2e32bbdbf633393330cf3c9772794
                    &quot;&quot;&quot;
                }
            }
        }

        stage(&apos;Build Image&apos;) {
            steps {
                // Kita tambahin ls -la biar kita bisa liat di log, Jenkins sebenernya dapet file apa aja
                sh &apos;ls -la&apos;
                
                // Kita paksa pake -f buat nunjuk file secara spesifik
                // Kalau di folder lo namanya &apos;dockerfile&apos;, ganti jadi -f dockerfile
                // Kalau namanya &apos;Dockerfile&apos;, ganti jadi -f Dockerfile
                sh &apos;docker build -t image-materi-jenkins -f dockerfile .&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>